<p id="notice"><%= notice %></p>

<p>
  <strong>Template version:</strong>
  <%= @event.template_version %>
</p>

<p>
  <strong>Friendly from:</strong>
  <%= @event.friendly_from %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @event.subject %>
</p>

<p>
  <strong>Ip pool:</strong>
  <%= @event.ip_pool %>
</p>

<p>
  <strong>Sending domain:</strong>
  <%= @event.sending_domain %>
</p>

<p>
  <strong>Rcpt tags:</strong>
  <%= @event.rcpt_tags %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Raw rcpt to:</strong>
  <%= @event.raw_rcpt_to %>
</p>

<p>
  <strong>Msg from:</strong>
  <%= @event.msg_from %>
</p>

<p>
  <strong>Rcpt to:</strong>
  <%= @event.rcpt_to %>
</p>

<p>
  <strong>Report to:</strong>
  <%= @event.report_to %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @event.transmission_id %>
</p>

<p>
  <strong>Fbtype:</strong>
  <%= @event.fbtype %>
</p>

<p>
  <strong>Rcpt meta:</strong>
  <%= @event.rcpt_meta %>
</p>

<p>
  <strong>Message:</strong>
  <%= @event.message_id %>
</p>

<p>
  <strong>Recipient domain:</strong>
  <%= @event.recipient_domain %>
</p>

<p>
  <strong>Report by:</strong>
  <%= @event.report_by %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event.event_id %>
</p>

<p>
  <strong>Routing domain:</strong>
  <%= @event.routing_domain %>
</p>

<p>
  <strong>Sending ip:</strong>
  <%= @event.sending_ip %>
</p>

<p>
  <strong>Template:</strong>
  <%= @event.template_id %>
</p>

<p>
  <strong>Delv method:</strong>
  <%= @event.delv_method %>
</p>

<p>
  <strong>Injection time:</strong>
  <%= @event.injection_time %>
</p>

<p>
  <strong>Msg size:</strong>
  <%= @event.msg_size %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @event.timestamp %>
</p>

<p>
  <strong>Formatteddate:</strong>
  <%= @event.formattedDate %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
